@charset "utf-8";

/* *****共通設定***** */

body {
    font-family: Arial, sans-serif;
    background-color: #cecece;
    margin: 0;
    padding: 0;
    height: 200vh;
}

header{
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 10;
    transition: 1.0s;
}

header:hover{
    background-color: rgba(0, 0, 0, 1.0);
}

.page-link{
    float: right;
  	display: flex;
  	padding: 20px;
}

.page-link li{
    list-style: none;
}
  
.page-link li a {
    color: #ffffff;
    margin:0 20px;
    text-decoration: none;
}

.titlemenu{
    display: inline-block;
    color: white;
    text-decoration: none; 
    line-height: 80px;
    width: 100px;
    padding: 10px;
    margin-left: 30px;
}

.sign-upmenu{
    margin-left: 60px;
}

.loginmenu{
    font-size: 20px;
}

.logoutmenu{
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    width: 100px;
	margin-left: 120px;
}

main{
    border-top: 1px solid #000000;
}

.box{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 150px;
}

.center{
    padding-top: 100px;
    width: 100%;
    height: 400px;
    text-align: center;
    border-top: 1px solid #000000;
}

.contents{
    padding: 0px 40px;
    list-style-type: none;
    display: flex;
    height: 200px;
    align-items: center;
}

.co2{
    justify-content: right;
}

.contents a{
    list-style: none;
    color: #000000;
    display: inline-block;
    margin: 50px 0px;
}

.text-center{
    margin: 40px;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.top{
    position:relative;
}

.title{
    text-align: center;
    height: 140px;
    width: 55%;
    font-size: 120px;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 20%;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
}

#video-area{
    position: absolute;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
    height: 100vh;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

.top{
    height: 100vh;
}

footer{
    height: 30%;
    background-color: #000000;
}

footer ul{
    padding: 30px;
}


footer li{
    color: #ffffff;
}

footer a{
    color: #ffffff;
}
